body {
  --editor-wrapper-size: 360px;
  --dragable-size: 250px;
}

/* specific [EXPCEPTION] */
.editor__container {
  display: flex;
  flex-direction: column;
}

.editor__calendar-open-btn {
  position: absolute;
  top: 0.5rem;
  left: 4.5rem;
  width: 40px;
  transition: color 0.3s;
}

.editor__calendar-open-btn:hover {
  color: var(--color-slate-600);
}

.editor__calendar-open-btn svg {
  width: 100%;
  height: 100%;
}

.editor__note.gallery {
  position: absolute;
  font-weight: 500;
  top: 0.5rem;
  right: 4rem;
  font-size: var(--size-xs);
  padding: 0.5em 1em;
  border-radius: 6px;
  background-color: var(--color-red-800);
  color: var(--color-slate-50);
  z-index: 9;
  max-width: 30ch;
}

/* specific end  [EXPCEPTION]*/

.editor__title {
  font-size: var(--size-xl);
  color: var(--color-slate-800);
  margin-bottom: 0.5rem;
}

/* dragHolder start */
.editor__dragHolder-wrapper {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
}

.editor__dragHolder {
  background-color: var(--color-slate-50);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.2rem 0.5rem;

  border: 1px solid var(--color-slate-400);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 999;
}

.editor__dragHolder-title {
  font-size: var(--size-sm);
  color: var(--color-slate-600);
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin-top: 0.5rem;
}

.editor__dragHolder__close-btn {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  font-size: var(--size-xs);
}

.editor__dragHolder-content {
  height: var(--dragable-size);
  aspect-ratio: 1;
  border: 1px solid var(--color-slate-600);
  border-radius: 6px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.editor__dragHolder-content svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  object-fit: cover;
  color: var(--color-slate-600);
}

.editor__dragHolder-content svg:has(+ .editor__dragHolder__img-item) {
  display: none;
}

.editor__dragHolder__img-item {
  position: relative;
  min-width: 100%;
  height: 100%;
  border-radius: 6px;
  margin-right: 0.5rem;
}

.editor__dragHolder__img-item img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 0.5rem;
}

.editor__dragHolder__resize-required {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  background-color: var(--color-slate-50);
  border-radius: 6px;
  padding: 0.1em 0.4em;
  color: var(--color-red-600);
  font-size: var(--size-xs);
  font-weight: 500;
}

.editor__dragHolder__resize-required span {
  display: inline-block;
  width: var(--size-2xl);
}

/* input field start*/
.editor__dragHolder-content-input::before {
  content: "or";
  font-size: var(--size-sm);
  color: var(--color-slate-800);
  margin-bottom: 0.5rem;
}

.editor__dragHolder-content-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.editor__dragHolder-content-input-btn {
  width: 100%;
  font-size: var(--size-sm);
  color: var(--color-slate-600);
}

.editor__dragHolder-content-input-btn::file-selector-button {
  border: 1px solid var(--color-slate-600);
  font-size: var(--size-sm);
  font-family: inherit;
  border-radius: 6px;
  color: var(--color-slate-600);
  padding: 0.125em 0.25em;
}

/* input field end */

.editor__dragHolder-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor__dragHolder-img-count {
  background-color: var(--color-slate-600);
  color: var(--color-slate-50);
  font-size: var(--size-sm);
  padding: 0.2em 0.5em;
  border-radius: 6px;
}

.editor__dragHolder__add-btn {
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
  pointer-events: none;
  opacity: 0.5;
  font-size: var(--size-xs);
  transition: color 0.3s;
}

.editor__dragHolder__add-btn:hover {
  color: var(--color-slate-800);
}

/* dragholder end */

.editor__wrapper {
  height: var(--editor-wrapper-size);
  border: 1px solid var(--color-slate-400);
  border-radius: 6px;
  min-width: 434px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.editor__list {
  height: 300px;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  position: relative;
  margin-bottom: 0.5rem;
}

.editor__list {
  display: none;
}

.editor__list.placeholder-list {
  display: flex;
}

.editor__zero-img {
  text-align: center;
  font-size: var(--size-sm);
  color: var(--color-slate-800);
  font-weight: 500;
  padding: 0.2em;
  display: none;
  width: 100%;
  height: calc(var(--editor-wrapper-size) / 2);
  position: absolute;
  opacity: 0;
}

.editor__zero-img.check:not(
    :has(~ .editor__list.not-placeholder-list .editor__item)
  ) {
  display: block;
  opacity: 1;
}

.editor__btn-add {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  transition: color 0.3s;
}

.editor__btn-add:hover {
  color: var(--color-slate-800);
}

.editor__img-counter {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  pointer-events: none;
}

.editor__item {
  border: 1px solid var(--color-slate-400);
  border-radius: 6px;
  height: 300px;
  aspect-ratio: 1;
  margin-left: 0.5rem;
  position: relative;
}

.editor__item button {
  position: absolute;
  top: 0rem;
  right: 0rem;
  color: var(--color-red-600);
  border: none;
  background-color: var(--color-slate-50);
}

.editor__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.loader {
  display: none;
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  inset: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
  pointer-events: none;
}

/* xs */
@media (min-width: 475px) {
  body {
    --editor-wrapper-size: 360px;
    --dragable-size: 300px;
  }

  /* specification START */
  .editor__calendar-open-btn {
    width: 40px;
  }
  .editor__note.gallery {
    font-size: var(--size-xs);
  }

  /* specification END */

  .editor__title {
    font-size: var(--size-2xl);
  }

  .editor__dragHolder-title {
    font-size: var(--size-base);
  }
  .editor__dragHolder__close-btn {
    font-size: var(--size-sm);
  }

  .editor__dragHolder__resize-required {
    font-size: var(--size-sm);
  }
  .editor__dragHolder__resize-required span {
    width: var(--size-3xl);
  }

  .editor__dragHolder-content-input::before {
    font-size: var(--size-base);
  }

  .editor__dragHolder-content-input-btn {
    font-size: var(--size-base);
  }

  .editor__dragHolder-content-input-btn::file-selector-button {
    font-size: var(--size-base);
  }

  .editor__dragHolder-img-count {
    font-size: var(--size-base);
  }

  .editor__dragHolder__add-btn {
    font-size: var(--size-sm);
  }

  .editor__zero-img {
    font-size: var(--size-base);
  }
}

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
@media (min-width: 1024px) {
  /* specific */
  .editor__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .editor__calendar-open-btn {
    left: 5.5rem;
    width: 45px;
  }
  .editor__note.gallery {
    right: 5rem;
    font-size: var(--size-sm);
  }
  /* specific end */

  body {
    --editor-wrapper-size: 373px;
    --dragable-size: 350px;
  }

  .editor__title {
    font-size: var(--size-3xl);
  }

  .editor__dragHolder-title {
    font-size: var(--size-lg);
  }
  .editor__dragHolder__close-btn {
    font-size: var(--size-base);
  }

  .editor__dragHolder__resize-required {
    font-size: var(--size-base);
  }
  .editor__dragHolder__resize-required span {
    width: var(--size-4xl);
  }

  .editor__dragHolder-content-input::before {
    font-size: var(--size-lg);
  }

  .editor__dragHolder-content-input-btn {
    font-size: var(--size-lg);
  }

  .editor__dragHolder-content-input-btn::file-selector-button {
    font-size: var(--size-lg);
  }

  .editor__dragHolder-img-count {
    font-size: var(--size-lg);
  }

  .editor__dragHolder__add-btn {
    font-size: var(--size-base);
  }

  .editor__zero-img {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  body {
    --dragable-size: 400px;
  }

  /* specification START */
  .editor__calendar-open-btn {
    left: 6.5rem;
    width: 50px;
  }
  .editor__note.gallery {
    right: 5rem;
    font-size: var(--size-base);
  }

  /* specification END */

  .editor__title {
    font-size: var(--size-4xl);
  }

  .editor__dragHolder-title {
    font-size: var(--size-xl);
  }
  .editor__dragHolder__close-btn {
    font-size: var(--size-lg);
  }

  .editor__dragHolder__resize-required {
    font-size: var(--size-lg);
  }
  .editor__dragHolder__resize-required span {
    width: var(--size-5xl);
  }

  .editor__dragHolder-content-input::before {
    font-size: var(--size-xl);
  }

  .editor__dragHolder-content-input-btn {
    font-size: var(--size-xl);
  }

  .editor__dragHolder-content-input-btn::file-selector-button {
    font-size: var(--size-xl);
  }

  .editor__dragHolder-img-count {
    font-size: var(--size-xl);
  }

  .editor__dragHolder__add-btn {
    font-size: var(--size-lg);
  }

  .editor__zero-img {
    font-size: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
} */
