.editor__calender-container {
  display: none;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

#calendar[date-vc-type="month"] {
  width: 330px;
  height: 250px;
}

#calendar[data-vc-type="default"] {
  width: 330px;
}

.vc {
  z-index: 99;
  border-radius: 6px !important;
}

/* labels START */

.vc-label {
  border: 1px solid var(--color-slate-400);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: var(--size-sm);
  margin-bottom: 0.5rem;
  letter-spacing: 0.05em;
  z-index: 98;
  width: 200px;
  margin: 0.5rem auto;
}

.vc-label > a {
  width: 100%;
  text-align: center;
  color: var(--color-slate-800);
  font-weight: 700;
}

.vc-menu {
  display: block;
  list-style-type: none;
  padding: 0;
  text-align: center;
  width: 100%;
  padding: 0 0.5em;
}

.vc-menu.hidden {
  display: none;
}

.vc-menu-item {
  padding: 0.125em 0.25em;
  margin: 0.125rem;
  width: 100%;
  position: relative;
}

.vc-menu-item:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid var(--color-slate-200);
}

.vc-menu-item.selected::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid var(--color-slate-200);
}

.vc-menu-item a {
  color: var(--color-slate-600);
  letter-spacing: -0.01em;
  padding: 0.125em 0.25em;
  text-transform: capitalize;
  border-radius: 6px;
  width: 100%;
}

.vc-menu-item.selected a {
  color: var(--color-red-800);
}

.vc-menu-item:hover a {
  color: var(--color-red-800);
}

/* labels END */

.vc-header__content button {
  color: var(--color-slate-800) !important;
  font-size: var(--size-sm);
}

.vc-week__day[data-vc-week-day-off] {
  color: var(--color-red-800) !important;
}

.vc-date[data-vc-date-today] .vc-date__btn {
  background-color: var(--color-slate-200) !important;
  color: var(--color-red-700) !important;
}

.vc-date__btn {
  font-size: var(--size-xs) !important;
}

.vc-date[data-vc-date-weekend] .vc-date__btn {
  color: var(--color-red-800) !important;
}

.vc-date[data-vc-date-weekend][data-vc-date-month="prev"] .vc-date__btn {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  color: #94a3b8 !important;
}

.vc-date[data-vc-date-weekend][data-vc-date-month="next"] .vc-date__btn {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  color: #94a3b8 !important;
}

.vc-months__month {
  outline: none !important;
  font-size: var(--size-xs) !important;
  color: var(--color-slate-500) !important;
}

.vc-months__month[aria-selected="true"] {
  background-color: var(--color-slate-600) !important;
  color: var(--color-slate-50) !important;
}

/* xs */
@media (min-width: 475px) {
  #calendar__monthly {
    width: 350px;
    height: 270px;
  }

  .vc-header__content button {
    font-size: var(--size-base);
  }

  .vc-months__month {
    font-size: var(--size-sm) !important;
  }

  /* labels START */
  .vc-label {
    font-size: var(--size-base);
  }
  /* labels END */
}

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
@media (min-width: 1024px) {
  #calendar__monthly {
    width: 370px;
    height: 290px;
  }

  .vc-header__content button {
    font-size: var(--size-lg);
  }

  .vc-months__month {
    font-size: var(--size-base) !important;
  }

  /* labels START */
  .vc-label {
    font-size: var(--size-lg);
    width: 300px;
  }
  /* labels END */
}

/* xl */
@media (min-width: 1280px) {
  #calendar__monthly {
    width: 390px;
    height: 310px;
  }

  .vc-header__content button {
    font-size: var(--size-xl);
  }

  .vc-months__month {
    font-size: var(--size-lg) !important;
  }

  /* labels START */
  .vc-label {
    font-size: var(--size-xl);
    width: 400px;
  }
  /* labels END */
}

/* 2xl */
/* @media (min-width: 1536px) {
} */
